# Maven build output
application/backend/target/

# Python cache
application/frontend/__pycache__/
*.pyc

# Log files
*.log

# terraform files
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

